@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --cor1 : #363C41;
    --cor2 : #346A7F;
    --cor3 : #DA6D45;
    --cor4 : #F9C080;
    --cor5 : #B96044;
    --cor6 : #ffffff;
    --cor7 : #73bdcf;
    --black : #000000; 
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.mainHeader {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: var(--cor1);
    color: var(--cor6);
    height: auto;
    
    a {
        text-decoration: none;
        color: #ffffff;
    }
    
    h1 {
        background: linear-gradient(to right, var(--cor3), var(--cor4));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    nav {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        flex-wrap: wrap;
        
        ul {
            flex-direction: column;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                transition: 200ms;
                width: 100%;
                margin: 5px 0;
                padding: 10px;
                background: var(--cor2);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                text-align: center;
                border-radius: 10px;
                
                &:hover {
                    cursor: pointer;
                    background: linear-gradient(45deg, var(--cor3), var(--cor4), var(--cor3));
                }
            }
        }
        
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            button {
                width: 90%;
                padding: 10px;
                margin: 5px 0;
                border: none;
                
                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to right, var(--cor3), var(--cor4));
                }
            }
            
            .entrar {
                background: var(--cor2);
            }
        }
        
        .logged {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-top: 10px;
            padding: 10px 20px;
            background: var(--cor2);
            border-radius: 10px;
            cursor: pointer;
            
            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
            
            i {
                transition: 200ms;
                margin: 0 10px 0 0;
                font-size: 25px;
            }
            
            i.active {
                transform: rotate(180deg);
            }
            
            &.active {
                border-radius: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            
            div.dropdown {
                transition: 200ms;
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background: var(--cor2);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                z-index: 1;
            }
            
            &.active div.dropdown {
                display: block;
                
                ul {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    list-style: none;
                    margin: 0;
                    padding: 10px 0;
                    
                    li {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 50px;
                        padding: 10px 20px;
                        cursor: pointer;
                        
                        a {
                            text-decoration: none;
                            color: var(--cor6);
                        }
                        
                        &:hover {
                            background: var(--cor7);
                        }
                    }
                }
            }
        }
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 20px;
        
        img {
            margin-right: 10px;
        }
    }
    
    a {
        text-decoration: none;
        color: var(--cor6);
    }
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
    header.mainHeader {
        flex-direction: row;
        height: auto;

        nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            ul {
                flex-direction: row;
                width: 60%;
                
                li {
                    width: auto;
                    margin: 0 10px;
                }
            }

            section {
                flex-direction: row;
                width: auto;
                
                button {
                    width: auto;
                }
            }

            .logged {
                width: auto;
                
                .content {
                    flex-direction: row;
                }
            }
        }
    }
}