@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --cor1: #363C41;
    --cor2: #346A7F;
    --cor3: #DA6D45;
    --cor4: #F9C080;
    --cor5: #B96044;
    --cor6: #ffffff;
    --cor7: #73bdcf;
    --black: #000000;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background: var(--cor1);
    color: var(--cor6);
    user-select: none;
}

header.mainHeader .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 500px; /* Limita a largura máxima para evitar que a logo fique muito grande */
    margin-bottom: 10px;
}

header.mainHeader .logo img {
    height: 70px; /* Ajuste a altura da imagem conforme necessário */
    margin-right: 10px;
}

header.mainHeader .logo h1 {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(to right, var(--cor3), var(--cor4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

header.mainHeader nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header.mainHeader nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

header.mainHeader nav ul li {
    width: 100%;
    padding: 10px;
    background: var(--cor2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    color: var(--cor6); /* Texto branco */
    font-size: 16px; /* Tamanho do texto */
}

header.mainHeader nav .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header.mainHeader nav .nav-list li {
    width: 100%;
    max-width: 250px; /* Ajustar largura máxima */
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--cor2), var(--cor7));
    color: var(--cor6);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background 300ms, transform 200ms;
    font-size: 16px; /* Tamanho do texto */
}

header.mainHeader nav .nav-list li a {
    text-decoration: none;
    color: var(--cor6);
}

header.mainHeader nav .nav-list li:hover {
    cursor: pointer;
    background: linear-gradient(45deg, var(--cor3), var(--cor4));
    transform: scale(1.05);
    z-index: 1;
}

header.mainHeader nav .nav-list .btn {
    width: 100%;
    max-width: 250px; /* Largura máxima para os botões */
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    color: var(--cor6);
    background: linear-gradient(45deg, var(--cor2), var(--cor7));
    transition: background 300ms, transform 200ms;
    box-sizing: border-box;
    font-size: 16px;
}

header.mainHeader nav .nav-list .btn:hover {
    cursor: pointer;
    background: linear-gradient(45deg, var(--cor3), var(--cor4));
    transform: scale(1.05);
}

header.mainHeader nav .nav-list .logged {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    /* margin-top: 10px; */
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

header.mainHeader nav .nav-list .logged .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

header.mainHeader nav .nav-list .logged i {
    transition: transform 200ms;
    margin: 0 10px 0 0;
    font-size: 25px;
}

header.mainHeader nav .nav-list .logged i.active {
    transform: rotate(180deg);
}

header.mainHeader nav .nav-list .logged.active {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header.mainHeader nav .dropdown-content {
    z-index: 1;
    display: none;
    width: 300px;
    position: absolute;
    background: var(--cor1);
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
header.mainHeader nav .dropdown-content.active{
    display: block;
}
header.mainHeader nav .dropdown-content li{
    margin: 10px !important;
    width: 100% !important;
}
header.mainHeader nav .dropdown-logged{
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: calc(100% + 10px);
    background: var(--cor1);
    left: 0;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
header.mainHeader nav .dropdown-logged *{
    width: 100% !important;
    margin: 0 0 10px 0 !important;
}
header.mainHeader nav .dropdown-logged.active{
    display: block;
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
    header.mainHeader {
        flex-direction: row;
        align-items: center;
    }

    header.mainHeader .logo {
        margin-right: 20px;
    }

    header.mainHeader nav {
        width: 50%; /* Ajustar largura em telas maiores */
    }

    header.mainHeader nav .nav-list {
        flex-direction: row;
        justify-content: center;
    }

    header.mainHeader nav .nav-list li {
        width: auto;
        margin: 0 5px;
    }

    header.mainHeader nav .nav-list .btn {
        width: auto;
        margin: 0 5px;
    }

    header.mainHeader nav .nav-list .logged {
        width: auto;
    }

    header.mainHeader nav .nav-list .logged .content {
        flex-direction: row;
    }
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background: var(--cor1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--cor6);
    font-size: 14px;
    text-align: center;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-section {
    margin-bottom: 20px;
    width: 100%; /* Define uma largura total */
    max-width: 300px; /* Limita a largura máxima */
}

.footer-section h3 {
    color: var(--cor6);
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-section h3:hover {
    color: var(--cor3);
}

.footer-section p, 
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
    color: var(--cor6);
    margin: 0;
    padding: 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--cor6);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--cor3);
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--cor6);
    margin-top: 20px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor6);
    font-size: 24px;
    font-weight: bold;
}

.title i {
    margin: 10px;
    font-size: 26px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.title:hover {
    border-bottom: 2px solid var(--cor3);
}

.title:hover i {
    color: var(--cor3);
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row; /* Alinha os itens em linha */
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        margin: 0 10px; /* Espaçamento entre as seções */
    }

    .footer-section h3 {
        font-size: 18px;
    }

    .footer-section p, 
    .footer-section ul li a {
        font-size: 15px;
    }
}

iframe{
    width: 100%;
    height: 100vh;
    border: none;
}