@import '../../global.css';
img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .menu {
        display: block;
        width: 100%;
    }
}

/* Estilo para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }
}

/* Estilo para desktops */
@media only screen and (min-width: 1025px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: var(--cor1);
    color: var(--cor6);
    overflow: hidden;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    height: 100vh;
    border: none;
}
h1 {
    text-align: center;
    color: var(--cor6);
    background: linear-gradient(to right, var(--cor3), var(--cor4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, h3 {
    color: var(--cor6);
}

p {
    margin: 10px 0;
}

.example {
    border-top: 1px solid var(--cor6);
    padding-top: 16px;
    margin-top: 16px;
}

pre {
    background: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: var(--cor7);
}

section {
    margin: 10px 0;
}

.imagem{
    width: 100%;
}