@import '../../global.css';
img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Estilo para dispositivos móveis */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .menu {
        display: block;
        width: 100%;
    }
}

/* Estilo para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }
}

/* Estilo para desktops */
@media only screen and (min-width: 1025px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }
}

header.mainHeader nav {
    justify-content: flex-end;
}
#body{
    overflow: hidden;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../../src/background.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    form{
        width: 30%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        background: var(--cor1);
        color: #fff;
        border-radius: 20px;
        input{
            width: 70%;
            padding: 10px;
            outline: none;
        }
        input[type=submit]{
            transition: 200ms;
            cursor: pointer;
            font-size: 1.3rem;
            border: none;
            &:hover{
                background: linear-gradient(to right, var(--cor3), var(--cor4));
                border-radius: 40px;
                color: #fff;
            }
        }
        span{
            background: linear-gradient(to right, var(--cor3), var(--cor4));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.3rem;
            font-weight: bolder;
            cursor: pointer;
        }
    }
    h3{
        margin: 20px;
        background: black;
    }
}